<div class="form container">
	<div class="col-sm-6">
<%= form_for @product_type do |f| %>
  
    <br><br>
    <%= f.label :name, "Name of Fixture:"%>
    <%= f.text_area(:name) %>
    <%= f.submit 'Upload Fixture', class: 'btn'%>
  </div>

  <% end %>
</div>