<div class = "all">

    <div class="slider" id="main-slider">
      <ul class="slides">
        <%if Company.last%>
          <% Company.last.images.each do |image| %> 
        <li class="parallax">
                <%= image_tag(image.img_file_name) %>
        </li>
              <%end%> 
           <%else%>
          <h1>HI, CREATE YOUR COMPANY!</h1> 
        <%end%> 
      </ul>  
    </div> 


  <div class="container about" style="padding-top: 103px; padding-bottom: 85px">
        <div id="about-logo">
        <%= image_tag "Logo", style:'width:auto; height:auto' %>
        </div>  
        <p class="flow-text">
          We utilize the latest lighting design calculation software and can provide various forms of visual aids to ensure accurate project results. Our designs can be provide in the latest AutoCad formats along with PDF and TIFF. Our rendering images and movie oriented walkthrough designs can be output to a variety of popular formats. 
         </p>
         <p class="flow-text">
          In conjunction with our manufacturers we can provide quick occupancy sensor layouts, panel based low voltage control system designs and various types of dimming and theatrical layouts. All of the designs are guaranteed to provide accurate results from design to installation.
        </p>
        <p class="flow-text">
         We can provide on site interior/exterior analysis for future or existing projects. Our reviews include design and consultation for all aspects of lighting and control. Energy payback analysis, code compliance, multiple design comparisons and turtle friendly applications are just a few of the options we can provide. 
         </p>
         <p class="flow-text">
          A primary goal is keeping the specification community informed of the latest products and tools available from our manufacturers. We deliver educational and training information to keep our customers up to date with the latest technologies. We provide continuous support to ensure their projects are on time and accurate.
        </p>
        <p class="flow-text">
         Our relationships with local wholesale electrical distribution and electrical contractors are the key to the success of the organization. We provide continuous support to our partners in business. Our services include competitive stock and timely project quotation, submittal packages, stock and project tracking, in office training and on site consultation. 
         </p>        
        <p class="flow-text">
        Have any more questions? Feel free to email us at <a href="quotes@wcltg.com">quotes@wcltg.com</a>
        </p><br>            
    </div>     

<a href="#" id="return-to-top"><i class="medium material-icons">navigation</i></a>

    


