<div class="fixtures-section center">
	<h5> Admin Fixtures </h5>
	<div class="yellow-underline"></div>
</div>

    <div class="add-new-fixture">
    <%= link_to '+ Add New Fixture', new_product_type_path, class: 'link' %>
    </div><br>

<div class="container" id="fixture-index">


				<% @product_types.each do |pt| %>
	
      <div>
        <ul class="columns btn-flat" <li><a href="/admin_fixtures/<%=pt.id%>/edit"><%=pt.name%></a></li>
        </ul>
      </div>
      <% end %> 

  </div>
</div>

      