      <p> Fixtures </p>

<form class="filter_form", method="get"><div>
  <%= collection_radio_buttons(:product_type, :product_type_ids, ProductType.all, :id, :name) %></div>
  <input type="submit" name="commit">
	
</form>

<% @manufacturers.each do |m| %>
	
<div><%= m.name %><div>
<%end%>