<div class="form container">
	<div class="col-sm-6">
<%= form_for @product_type do |f| %>
  
    <br><br>
    <%= f.label :name, "Name of Line Card:"%>
    <%= f.text_area(:name) %>
    <%= f.submit 'Upload Line Card', class: 'btn'%>
  </div>

  <% end %>
</div>