<div class="full" id="a">
    <div class="slider fullscreen">
      <ul class="slides">
        <%if Company.last%>
          <% Company.last.images.each do |image| %> 
          <li>
            <div class="parallax"><%= image_tag(image.img_file_name)%>
            </div>
          </li>
          <%end%> 
        <%else%>
          <h1>HI, CREATE YOUR COMPANY!</h1> 
      <%end%> 
    </div> 

<div class="full" id="a">

heahea
</div>


