// COLOR PALLETE:
// Midnight Blue:       #10155E
// Dark Imperial Blue:  #113D70
// Air Force Blue:      #5A80AA
// Gainsboro:           #D8DFE7
// Deep Lemon:          #FFC423

html {
  @extend .indigo-text, .text-darken-4;
  font-family: 'Fjalla One', sans-serif;
  min-width: 300px;
}

body {
  @extend .indigo, .lighten-5;
}

.nav-wrapper {
  a {
    font-size: 1.3em;
    text-shadow: 0px 1px black;
  }
}

.parallax-container {
  height: 600px;
}

.card {  
  img {
    height: 100%;
    width: 100%;
  }
}
