<% content_for(:page) { "maintenance" } %>

<div class="logo-space center">
	<%= image_tag "Logo.png" %>
	<span id="message">
		<p>New Website Coming Soon</p>
	</span>
</div>

<section id="contact-info">
  <p>(239) 390-1004</p>
  <p><a href="mailto:quotes@wcltg.com">quotes@wcltg.com </a></p>
  <p>25241 Elementary Way Suite 103. Bonita Springs, FL 34135</p>
</section>
