<% content_for(:page) {"maintenance"} %>

<div class="logo-space">
	<img src="https://s3.amazonaws.com/westcoastlighting/Logo.png"><br><br><br>
<span id="message">
	<p>Website is down for Maintenance</p>
</span>
</div>

<section id="contact-info">
  <p>(239) 390-1004</p>
  <p><a href="mailto:quotes@wcltg.com">quotes@wcltg.com </a></p>
  <p>25241 Elementary Way Suite 103. Bonita Springs, FL 34135</p>
</section>
